# ============================================
# Project
# ============================================
PROJECT_NAME=seo_poc

# ============================================
# Django
# ============================================
DJANGO_PORT=8000
DJANGO_SECRET_KEY=dev-secret
DJANGO_DEBUG=1

# ============================================
# Postgres
# ============================================
POSTGRES_VERSION=16
POSTGRES_DB=seo_poc
POSTGRES_USER=seo_poc
POSTGRES_PASSWORD=seo_poc
DB_PORT=5432

# ============================================
# Redis
# ============================================
REDIS_VERSION=7
REDIS_PORT=6379

# ============================================
# Celery
# ============================================
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/1

# ============================================
# Flower
# ============================================
FLOWER_PORT=5555